@font-face {
font-family: orangejuice;
src: url('../font/orangejuice.ttf');
}

@font-face {
    font-family: dayrom;
    src: url('../font/DAYROM__.ttf');
}

#header_name {
    font-family: orangejuice;
    font-size: 45px;
    color: #663300;
}

#marc_name {
    color: #663300;
}


.nav_item {
    height: 50px;
    padding-top: 15px;
    font-size: 20px;
    color: #663300;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    transition: all 1s;
    -webkit-transition: all 1s; /* Safari */
    cursor: pointer;
}

.nav_item:hover {
    color: #666666;
}




#main_banner{
    background-image: url("/assets/images/woodbanner.jpg");
    text-align: center;
    height: 185px;
    padding-top: 75px;
    font-size: 35px;
    color: #f0f0f0;
}

#main_banner span {
    font-family:  dayrom;
    font-weight: bold;
    margin-top: 10px;
}